/* Only global styling CSS Rules should be placed here, for component specific styling use CSS Modules */

@tailwind base;
@tailwind components;
@tailwind utilities;

.custom-transition {
    width: 60px;
    transition: 1s;
    border-radius: 10px;
}

.custom-transition:hover {
    width: 240px;
    padding-right: 50px !important;
}

body {
    background-color: #1E1E1E;
    color: #9EA9AA;
    scroll-behavior: smooth;
}

::-webkit-scrollbar {
    width: 4px;
    cursor: pointer;
}

::-webkit-scrollbar-track {
    background: transparent;
    cursor: pointer;
}

::-webkit-scrollbar-thumb {
    background: #21AB70;
    border-radius: 4px;
    cursor: pointer;
}

::-webkit-scrollbar:horizontal {
    height: 3px;
}

input[type="date"]::-webkit-calendar-picker-indicator {
    color: rgba(0, 0, 0, 0);
    opacity: 1;
    display: block;
    background: url('./../../public/assets/icons/calendar-green.svg') no-repeat;
    padding-right: 30px;
    width: fit-content;
    height: 25PX;
    background-position: center;
    background-size: 25px;
}

input[type="date"]::-webkit-inner-spin-button {
    background-color: #21AB70;
}

/* ============== Quill Editor Styling ============== */
.quill>* {
    border-color: inherit !important;
    color: inherit !important;
}

.quill>.ql-toolbar {
    /* border radius of the toolbar */
    border-radius: 10px 10px 0 0;
}

.quill>.ql-container {
    /* border radius of the container and for font size*/
    font-size: inherit;
    border-radius: 0 0 10px 10px;
}

.ql-toolbar.ql-snow .ql-picker-label {
    color: inherit !important;
    opacity: 0.76;
}

.ql-snow .ql-picker {
    color: inherit !important;
}

.quill>.ql-container>.ql-editor.ql-blank::before {
    /* for placeholder */
    color: inherit;
}

.ql-snow.ql-toolbar button svg {
    opacity: 0.76;
    color: currentColor;
}

.ql-snow.ql-toolbar button:hover,
.ql-snow.ql-toolbar button.ql-active {
    opacity: 0.76;
    color: #21AB70 !important;
}

.ql-snow .ql-stroke {
    /* for the border of the editor */
    stroke: currentColor !important;
}

.ql-snow .ql-fill {
    /* for the bg color */
    fill: currentColor !important;
}

.ql-picker-item {
    /* for dropdown */
    color: black !important;

}

.ql-picker-options {
    background: rgba(255, 255, 255, 0.7) !important;
    border-radius: 16px !important;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1) !important;
    backdrop-filter: blur(20px) !important;
    -webkit-backdrop-filter: blur(20px) !important;
    border: 1px solid rgba(255, 255, 255, 0.07) !important;
}