/* Only global styling CSS Rules should be placed here, for component specific styling use CSS Modules */

@tailwind base;
@tailwind components;
@tailwind utilities;

.custom-transition {
    width: 60px;
    transition: 1s;
    border-radius: 10px;
}

.custom-transition:hover {
    width: 240px;
    padding-right: 50px !important;
}

body {
    background-color: #1E1E1E;
    color: #9EA9AA;
    scroll-behavior: smooth;
}

::-webkit-scrollbar {
    width: 4px;
    cursor: pointer;
}

::-webkit-scrollbar-track {
    background: transparent;
    cursor: pointer;
}

::-webkit-scrollbar-thumb {
    background: #21AB70;
    border-radius: 4px;
    cursor: pointer;
}

::-webkit-scrollbar:horizontal {
    height: 3px;
}